@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">Welcome to My MVC Project</h1>
    <p class="lead">
        <strong>Current Date and Time:</strong>
        @DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss").
    </p>
</div>
